.modal-dialog,
.modal-content {
  /* 80% of window height */
  height: 90%;
}

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 5px);
}

iframe {
  height: 100%;
}
